body {
  font-family: "Mulish", sans-serif;
}

#navbar {
  width: 100%;
  height: 110px;
}
#navbar .nav-area {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
#navbar .nav-area .logo {
  width: 100%;
  height: 100%;
}
#navbar .nav-area .logo img {
  width: 100%;
  height: 100%;
}
#navbar .nav-area .items .links {
  float: right;
  display: flex;
  align-items: center;
}
#navbar .nav-area .items .links ul {
  display: flex;
  list-style: none;
  margin: 0;
}
#navbar .nav-area .items .links ul li {
  margin-left: 30px;
  margin-right: 30px;
}
#navbar .nav-area .items .links ul li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
}
#navbar .nav-area .items .links ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#navbar .nav-area .items .links ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#navbar .nav-area .items .right a:first-child {
  text-decoration: none;
}
#navbar .nav-area .items .right a:first-child .search {
  display: inline-block;
  width: 20px;
  transform: rotateY(180deg);
}
#navbar .nav-area .items .right a:last-child {
  text-decoration: none;
  color: black;
  margin-left: 25px;
  font-size: 14px;
}
#navbar .nav-area .items .right a:last-child .shop {
  width: 20px;
  display: inline-block;
}

#burger-navbar {
  display: none;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  #navbar {
    width: 100%;
    height: 80px;
  }
  #navbar .nav-area {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  #navbar .nav-area .logo {
    width: 100%;
    height: 100%;
  }
  #navbar .nav-area .logo img {
    width: 100%;
    height: 100%;
  }
  #navbar .nav-area .items .links {
    float: right;
    display: flex;
    align-items: center;
  }
  #navbar .nav-area .items .links ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
  #navbar .nav-area .items .links ul li {
    margin-left: 15px;
    margin-right: 15px;
  }
  #navbar .nav-area .items .links ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    font-size: 13px;
  }
  #navbar .nav-area .items .links ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  #navbar .nav-area .items .links ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #navbar .nav-area .items .right a:first-child {
    text-decoration: none;
  }
  #navbar .nav-area .items .right a:first-child .search {
    display: inline-block;
    width: 12px;
    transform: rotateY(180deg);
  }
  #navbar .nav-area .items .right a:last-child {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 11px;
  }
  #navbar .nav-area .items .right a:last-child .shop {
    width: 12px;
    display: inline-block;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  #navbar {
    width: 100%;
    height: 80px;
  }
  #navbar .nav-area {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  #navbar .nav-area .logo {
    width: 84px;
    height: 20px;
  }
  #navbar .nav-area .logo img {
    width: 100%;
    height: 100%;
  }
  #navbar .nav-area .items .links {
    float: right;
    display: flex;
    align-items: center;
  }
  #navbar .nav-area .items .links ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
  #navbar .nav-area .items .links ul li {
    margin-left: 20px;
    margin-right: 20px;
  }
  #navbar .nav-area .items .links ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    font-size: 10px;
  }
  #navbar .nav-area .items .links ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  #navbar .nav-area .items .links ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #navbar .nav-area .items .right a:first-child {
    text-decoration: none;
  }
  #navbar .nav-area .items .right a:first-child .search {
    display: inline-block;
    width: 10px;
    transform: rotateY(180deg);
  }
  #navbar .nav-area .items .right a:last-child {
    text-decoration: none;
    color: black;
    margin-left: 4px;
    font-size: 9px;
  }
  #navbar .nav-area .items .right a:last-child .shop {
    width: 10px;
    display: inline-block;
  }
}
@media screen and (max-width: 768px) {
  #navbar {
    display: none;
  }
  #burger-navbar {
    display: block;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
  }
  #burger-navbar .logo {
    width: 100%;
  }
  #burger-navbar .logo img {
    width: 100%;
  }
  #burger-navbar .burger {
    width: 20px;
    float: right;
  }
}
#right-sidebar {
  background-color: rgb(250, 250, 249);
  height: 200px;
  display: flex;
  align-items: center;
}
#right-sidebar .content h1 {
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
#right-sidebar .content p {
  opacity: 0.8;
}

#blog {
  margin-top: 75px;
  padding-bottom: 100px;
}
#blog .img {
  height: 600px;
  width: 100%;
}
#blog .img img {
  width: 100%;
  height: 100%;
}
#blog .content .heading {
  text-decoration: none;
  color: black;
  font-size: 26px;
  font-weight: 600;
}
#blog .content p {
  margin-top: 20px;
  font-size: 15px;
}
#blog .content .down {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
#blog .content .down a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  transition: 0.5s;
}
#blog .content .down a:hover {
  color: rgb(243, 79, 63);
}
#blog .content .down .by {
  font-weight: 600;
}
#blog .content .down span {
  font-size: 13px;
  opacity: 0.8;
}
#blog .content .down i {
  opacity: 0.6;
}
#blog .search {
  width: 100%;
  position: relative;
}
#blog .search input {
  outline: none;
  height: 50px;
  width: 100%;
  border: 1px solid rgb(209, 209, 209);
  font-size: 13px;
  padding-left: 20px;
  padding-right: 35px;
}
#blog .search input::-moz-placeholder {
  font-size: 13px;
}
#blog .search input:-ms-input-placeholder {
  font-size: 13px;
}
#blog .search input::placeholder {
  font-size: 13px;
}
#blog .search i {
  font-weight: 900;
  position: absolute;
  right: 10px;
  top: 18px;
  opacity: 0.7;
  transform: rotateY(180deg);
}
#blog .categories {
  margin-top: 30px;
}
#blog .categories p {
  font-size: 14px;
  font-weight: 600;
}
#blog .categories ul {
  list-style: none;
  padding-left: 0;
}
#blog .categories ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  opacity: 0.8;
}
#blog .categories ul li a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
#blog .categories ul li a:hover {
  color: rgb(243, 79, 63);
}
#blog .posts a {
  text-decoration: none;
  color: black;
}
#blog .posts a .post {
  display: flex;
  padding-top: 16px;
}
#blog .posts a .post .img {
  width: 100px;
  height: 70px;
}
#blog .posts a .post .content {
  padding-left: 15px;
  padding-top: 20px;
}
#blog .posts a .post .content p:first-child {
  font-size: 9px;
  margin: 0;
  font-weight: 600;
  transition: 0.5s;
}
#blog .posts a .post .content p:last-child {
  font-size: 8px;
  margin: 0;
  opacity: 0.7;
}
#blog .posts a .post:hover .content p:first-child {
  color: rgb(243, 79, 63);
}
#blog .start-now {
  margin-top: 40px;
  width: 80%;
}
#blog .start-now a img {
  width: 100%;
}
#blog .col-9-edit-1 {
  padding-top: 100px;
}

#hide-bar {
  display: none;
}

#hide-blog {
  display: none;
}

#quotation-1 .col-9-edit-1 {
  background-color: rgb(253, 251, 252);
  height: 200px;
  display: flex;
  align-items: center;
}
#quotation-1 .col-9-edit-1 .text {
  padding-left: 50px;
}
#quotation-1 .col-9-edit-1 .text a {
  text-decoration: none;
  color: black;
  font-size: 34px;
  font-family: "Times New Roman", Times, serif;
}
#quotation-1 .col-9-edit-1 .text p {
  font-size: 15px;
  opacity: 0.8;
  font-family: "Times New Roman", Times, serif;
}

#quotation-1-hide {
  display: none;
}

#quotation-2 .col-9-edit-1 {
  background-color: rgb(253, 251, 252);
  height: 200px;
  display: flex;
  align-items: center;
}
#quotation-2 .col-9-edit-1 .text {
  padding-left: 50px;
}
#quotation-2 .col-9-edit-1 .text a {
  text-decoration: none;
  color: black;
  font-size: 34px;
  font-family: "Times New Roman", Times, serif;
}
#quotation-2 .col-9-edit-1 .text p {
  font-size: 15px;
  opacity: 0.8;
  font-family: "Times New Roman", Times, serif;
}

#quotation-2-hide {
  display: none;
}

#blog-continue {
  margin-top: 75px;
  padding-bottom: 100px;
}
#blog-continue .img {
  height: 600px;
  width: 100%;
}
#blog-continue .img img {
  width: 100%;
  height: 100%;
}
#blog-continue .content .heading {
  text-decoration: none;
  color: black;
  font-size: 26px;
  font-weight: 600;
}
#blog-continue .content p {
  margin-top: 20px;
  font-size: 15px;
}
#blog-continue .content .down {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
#blog-continue .content .down a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  transition: 0.5s;
}
#blog-continue .content .down a:hover {
  color: rgb(243, 79, 63);
}
#blog-continue .content .down .by {
  font-weight: 600;
}
#blog-continue .content .down span {
  font-size: 13px;
  opacity: 0.8;
}
#blog-continue .content .down i {
  opacity: 0.6;
}

#hide-blog-continue {
  display: none;
}

#pages {
  padding-top: 50px;
  padding-bottom: 50px;
}
#pages .page {
  width: 100%;
  display: flex;
  justify-content: center;
}
#pages .page .first {
  text-decoration: none;
  opacity: 0.6;
  color: black;
  font-size: 15px;
  margin-right: 10px;
  transition: 0.5s;
}
#pages .page .first:hover {
  color: rgb(243, 79, 63);
}
#pages .page .second {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-right: 10px;
  transition: 0.5s;
}
#pages .page .second:hover {
  color: rgb(243, 79, 63);
}
#pages .page .icon {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
#pages .page .icon:hover {
  color: rgb(243, 79, 63);
}

#links {
  background-color: rgb(254, 250, 243);
  width: 100%;
  padding-top: 75px;
}
#links .link p {
  font-weight: 600;
  font-size: 14px;
  opacity: 0.8;
}
#links .link ul {
  list-style: none;
  padding-left: 0;
  padding-top: 20px;
}
#links .link ul li {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#links .link ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.8;
  transition: 0.5s;
}
#links .link ul li a:hover {
  color: rgb(243, 79, 63);
}
#links .row-edit {
  padding-top: 20px;
}
#links .row-edit .left p {
  font-size: 13px;
  opacity: 0.7;
}
#links .row-edit .left p a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.5s;
}
#links .row-edit .left p a:hover {
  color: rgb(243, 79, 63);
}
#links .row-edit .center {
  width: 100%;
  display: flex;
  justify-content: center;
}
#links .row-edit .right {
  float: right;
}
#links .row-edit .right a {
  text-decoration: none;
  color: black;
  opacity: 0.8;
  font-size: 13px;
  margin-left: 20px;
  transition: 0.5s;
}
#links .row-edit .right a:hover {
  color: rgb(243, 79, 63);
}

@media screen and (max-width: 992px) {
  #links .left {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }
  #links .right {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  #right-sidebar .content h1 {
    font-size: 30px;
  }
  #blog {
    display: none;
  }
  #blog-continue {
    display: none;
  }
  #hide-blog-continue {
    display: block;
    margin-top: 75px;
    padding-bottom: 100px;
  }
  #hide-blog-continue .img {
    height: 600px;
    width: 100%;
  }
  #hide-blog-continue .img img {
    width: 100%;
    height: 100%;
  }
  #hide-blog-continue .content .heading {
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: 600;
  }
  #hide-blog-continue .content p {
    margin-top: 20px;
    font-size: 15px;
  }
  #hide-blog-continue .content .down {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }
  #hide-blog-continue .content .down a {
    text-decoration: none;
    color: black;
    font-size: 8px;
    transition: 0.5s;
  }
  #hide-blog-continue .content .down a:hover {
    color: rgb(243, 79, 63);
  }
  #hide-blog-continue .content .down .by {
    font-weight: 600;
  }
  #hide-blog-continue .content .down span {
    font-size: 8px;
    opacity: 0.8;
  }
  #hide-blog-continue .content .down i {
    opacity: 0.6;
  }
  #hide-blog {
    display: block;
    margin-top: 75px;
    padding-bottom: 100px;
  }
  #hide-blog .row-edit {
    padding-top: 40px;
  }
  #hide-blog .img {
    height: 600px;
    width: 100%;
  }
  #hide-blog .img img {
    width: 100%;
    height: 100%;
  }
  #hide-blog .content .heading {
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: 600;
  }
  #hide-blog .content p {
    margin-top: 20px;
    font-size: 15px;
  }
  #hide-blog .content .down {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }
  #hide-blog .content .down a {
    text-decoration: none;
    color: black;
    font-size: 8px;
    transition: 0.5s;
  }
  #hide-blog .content .down a:hover {
    color: rgb(243, 79, 63);
  }
  #hide-blog .content .down .by {
    font-weight: 600;
  }
  #hide-blog .content .down span {
    font-size: 8px;
    opacity: 0.8;
  }
  #hide-blog .content .down i {
    opacity: 0.6;
  }
  #hide-bar {
    display: block;
  }
  #hide-bar .search {
    width: 90%;
    position: relative;
  }
  #hide-bar .search input {
    outline: none;
    height: 50px;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    font-size: 13px;
    padding-left: 20px;
    padding-right: 35px;
  }
  #hide-bar .search input::-moz-placeholder {
    font-size: 13px;
  }
  #hide-bar .search input:-ms-input-placeholder {
    font-size: 13px;
  }
  #hide-bar .search input::placeholder {
    font-size: 13px;
  }
  #hide-bar .search i {
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 18px;
    opacity: 0.7;
    transform: rotateY(180deg);
  }
  #hide-bar .categories {
    margin-top: 30px;
  }
  #hide-bar .categories p {
    font-size: 14px;
    font-weight: 600;
  }
  #hide-bar .categories ul {
    list-style: none;
    padding-left: 0;
  }
  #hide-bar .categories ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    opacity: 0.8;
  }
  #hide-bar .categories ul li a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }
  #hide-bar .categories ul li a:hover {
    color: rgb(243, 79, 63);
  }
  #hide-bar .posts a {
    text-decoration: none;
    color: black;
  }
  #hide-bar .posts a .post {
    display: flex;
    padding-top: 16px;
  }
  #hide-bar .posts a .post .img {
    width: 100px;
    height: 70px;
  }
  #hide-bar .posts a .post .img img {
    width: 100%;
  }
  #hide-bar .posts a .post .content {
    padding-left: 15px;
    padding-top: 20px;
  }
  #hide-bar .posts a .post .content p:first-child {
    font-size: 12px;
    margin: 0;
    font-weight: 600;
    transition: 0.5s;
  }
  #hide-bar .posts a .post .content p:last-child {
    font-size: 11px;
    margin: 0;
    opacity: 0.7;
  }
  #hide-bar .posts a .post:hover .content p:first-child {
    color: rgb(243, 79, 63);
  }
  #hide-bar .start-now {
    margin-top: 40px;
    width: 25%;
    padding-bottom: 50px;
  }
  #hide-bar .start-now a img {
    width: 100%;
  }
  #quotation-2 {
    display: none;
  }
  #quotation-2-hide {
    display: block;
    padding-bottom: 50px;
    background-color: rgb(253, 251, 252);
    height: 200px;
    display: flex;
    align-items: center;
  }
  #quotation-2-hide .text {
    padding-left: 50px;
  }
  #quotation-2-hide .text a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  #quotation-2-hide .text p {
    font-size: 10px;
    opacity: 0.8;
    font-family: "Times New Roman", Times, serif;
  }
  #quotation-1-hide {
    display: block;
    background-color: rgb(253, 251, 252);
    height: 200px;
    display: flex;
    align-items: center;
  }
  #quotation-1-hide .text {
    padding-left: 50px;
  }
  #quotation-1-hide .text a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  #quotation-1-hide .text p {
    font-size: 10px;
    opacity: 0.8;
    font-family: "Times New Roman", Times, serif;
  }
  #quotation-1 {
    display: none;
  }
}/*# sourceMappingURL=blog.css.map */